manifest {
  name            = 'laava'
  author          = 'formbio'
  homePage        = 'https://github.com/formbio/AAV'
  description     = 'Long-read AAV Analysis'
  mainScript      = 'main.nf'
  nextflowVersion = '>=23.04.2'
  version         = 'v2.5.0'
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

params {
    seq_reads = null
    vector_bed = null
    vector_fa = null
    helper_fa = null
    repcap_fa = null
    host_fa = null
    flipflop_name = ''
    outdir = 'output'
}
