manifest {
  name            = 'laava'
  author          = 'formbio'
  homePage        = 'https://github.com/formbio/AAV'
  description     = 'Long-read AAV Analysis'
  mainScript      = 'main.nf'
  version         = 'v0.1.0'
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

params {
  citest=false
  //... 
}
